/latihan5/nbproject/private/
/latihan5/build/
/Quiz_1/nbproject/private/
/Quiz_1/build/
/Quiz_1/dist/
/UTS/nbproject/private/
/latihan6_3/latihan6_3/build/
/latihan6_3/latihan6_3/dist/
/latihan6_3/latihan6_3/nbproject/private/
/UTS/build/
/UTS/dist/
/iterasi-jacobi/nbproject/private/
/iterasi-jacobi/build/
/utsAgus/nbproject/private/
/utsagus/nbproject/private/
/Remed/nbproject/private/
/REMdd/nbproject/private/
/REMdd/build/
/remedial/nbproject/private/
/remedial/build/
/remedial/dist/